<!DOCTYPE html>  
<html lang="en">  
<head>  
<meta charset="UTF-8">  
<title>Login</title>  
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">

</head>  
<body>  
 <div id="login">  
 <h1>Find Providers with reasonably lower price</h1>  

    <!-- add gyh -->
    <div class="modal fade" id="datain" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- content -->
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="task-form-display">Product Name</span>
                    <input type="text" name = "name" class="form-control" >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="task-form-display">Acceptable price</span>
                    <input type="real" name = "price" class="form-control" >
                </div>
            </div>

            <!-- submit -->
            <div class="modal-footer">
                <button id="go_compare" type="button" class="btn btn-primary">Compare!</button>
            </div>
        </div>
    </div>
    </div>


</div>  
</body>  


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script/modal.js') }}"></script>

</html>