<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="utf-8">
<meta name="author" content="">
<meta name="description" content=""/>

<!-- <script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/main.js"></script> -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>

<header>
	<div class="wrapper">
		<a href="/" class="logo"> <img src="../static/img/logo.png" width="150" alt="" title="Trady"/> </a>
		<!-- <nav>
			<ul>
				<li><a href="">Services</a></li>
				<li><a href="">Our Story</a></li>
				<li><a href="">Work</a></li>
				<li><a href="">Journal</a></li>
				<li><a href="">Contact</a></li>
			</ul>
		</nav> -->
	</div>
	
</header><!-- End Header -->

<section class="billboard">
	<section class="caption">
		<p class="cap_title"><strong>The Best Place You Compare and Trade Goods</p></strong>
		<p class="cap_desc">Platform build for UIUC CS411 course project </p>
		<!-- mody -->
		<a href="/user_in">Login</a>			
	</section>
</section><!-- End billboard -->

<!-- <section class="services wrapper">
	<ul>
		<li>
			<img class="s_icons" src="../static/img/s1_icon.png" title="" alt=""/>
			<h3>Can add messages1</h3>
			<p>Excepteur sint occaecat cupi datat non it proident, sunt in culpa qui officia dese runtorn mollit anim id est laborum.</p>		
		</li>
		<li>
			<img class="s_icons" src="../static/img/s2_icon.png" title="" alt=""/>
			<h3>Can add messages2</h3>
			<p>Excepteur sint occaecat cupi datat non it proident, sunt in culpa qui officia dese runtorn mollit anim id est laborum.</p>		
		</li>
		<li>
			<img class="s_icons" src="../static/img/s3_icon.png" title="" alt=""/>
			<h3>Can add messages3</h3>
			<p>Excepteur sint occaecat cupi datat non it proident, sunt in culpa qui officia dese runtorn mollit anim id est laborum.</p>		
		</li>
	</ul>
</section> -->
<!-- End services -->


<!-- <section class="video wrapper">
	<h3>sunt in culpa qui officia deserunt mollit</h3>
	<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<div class="ex_video">
		<a href="#"><img src="img/video.jpg" alt="" title=""/></a>
	</div>
</section>	 -->
<!-- End video -->

<section class="subscription">
	<div class="wrapper">
		<p class="title">Become a member</p>
		<p class="desc">Become a member if you like</p>
		<a href="/login" class="start_btn">Click here to register</a>
	</div>
</section><!-- End subscription -->

<div id="lightbox"></div>
<div id="box">
	<a href="" class="close"></a>
	<form method="" action="">
		<input type="text" id="email" placeholder="Email"/>
		<input type="text" id="name" placeholder="Name"/>
		<input type="submit" id="submit" value="Subscribe Now"/>
	</form>
</div>
</body>